.horarios-container {
    text-align: center;
    margin-top: 20px;
}

.horarios-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
